@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@font-face {
  font-family: 'TradeGothic-Condensed';
  src: url("fonts/LTe50535.eot");
  /* IE9 Compat Modes */
  src: url("fonts/LTe50535.eot?#iefix") format("embedded-opentype"), url("fonts/TradeGothic-Condensed.woff") format("woff"), url("fonts/TradeGothic-Condensed.ttf") format("truetype"), url("fonts/TradeGothic-Condensed.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-style: normal; }

/* COLORS */
/* ---------- TRANSITIONS ---------------*/
*, *:link, *:visited, *:hover, *:active, *:focus {
  -webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
  -moz-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
  -ms-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
  -o-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear; }

/* ----------- ELEMENTS ------------*/
body {
  background: #ffffff;
  font-family: "Lato", Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  /*-webkit-perspective: 1000;*/
  color: #5f5954; }

body * {
  word-wrap: break-word; }

#container {
  position: absolute;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #353535;
  font-family: "Lato", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 20px 0 15px; }

h1 {
  font-size: 35px;
  line-height: 1.1;
  font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
  text-transform: uppercase; }

h2 {
  font-size: 30px;
  font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
  color: #E8A713;
  text-transform: uppercase;
  text-shadow: 2px 3px 2px #ffffff;
  margin-top: 5px; }

h3 {
  font-family: "Lato", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px; }

h3.alternate {
  font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0; }

h3.section-header {
  font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4e749e;
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0; }

h4 {
  font-family: "Lato", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: none; }

h5 {
  font-family: "Lato", Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase; }

a {
  text-decoration: none;
  color: #5382B0; }
  a:hover {
    color: #a45c3e; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

p {
  margin: 15px 0 20px; }
  p .intro {
    font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    margin: 20px 0; }

.tight, p.tight {
  margin: 0;
  padding: 0; }

/* LISTS*/
ol, ul {
  color: #726C66;
  margin: 0 0 20px 10px; }

ol {
  counter-reset: term; }
  ol li {
    list-style: none; }
  ol li:before {
    color: #a45c3e;
    counter-increment: term;
    content: counter(term) ". ";
    margin: 0 5px 0 -20px;
    text-align: right; }

ul {
  counter-reset: term; }
  ul li {
    list-style: none; }
  ul li:before {
    background-color: #a45c3e;
    border-radius: 100%;
    content: '';
    display: block;
    float: left;
    height: 5px;
    margin: 10px 2px 0 -20px;
    width: 5px; }
  ul.nobullets {
    margin: 0;
    padding: 0; }
    ul.nobullets li:before {
      display: none;
      margin: 0;
      padding: 0;
      width: 0; }

li {
  margin-bottom: 10px; }

.two-columns, article.two-columns, ul.two-columns {
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px; }

ul.two-columns li {
  margin-left: 1.5em; }

hr {
  border-bottom-color: solid #ffffff 1px; }

.row {
  position: relative; }

.no_select * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.no_transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.no_results {
  font-size: 22px;
  font-family: "Lato", Tahoma, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 30px 0; }

img.round {
  border-radius: 3px; }

/* -------------- HELPERS -----------------*/
.left,
.block_left {
  display: block;
  float: left; }

.block_left {
  margin: 5px 35px 20px 0; }

.right,
.block_right {
  display: block;
  float: right; }

.block_right {
  margin: 5px 0 35px 20px; }

.block_center {
  clear: both;
  display: block;
  margin: 5px auto 20px; }

.block {
  display: block; }

.block_figure .table {
  display: table;
  width: 100%; }

.block_figure .cell {
  display: table-cell; }

.block_figure img {
  width: 100%; }

.block_figure p {
  display: table-caption;
  caption-side: bottom; }

.split {
  width: 48%; }

.table {
  display: table; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

.contain {
  overflow: hidden; }

.inline {
  display: inline-block; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

.sticky {
  position: fixed;
  /*	left: 0;
      top: 0; */
  z-index: 100;
  border-top: 0; }

.masonry-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em; }

.masonry-3 .masonry-item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%; }

.black-overlay {
  background-color: rgba(0, 0, 0, 0.5); }

.shadow-box {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.shadow-box:before, .shadow-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px/10px;
  border-radius: 100px/10px; }

.shadow-box:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg); }

.image-background-block {
  background-attachment: fixed;
  background-image: url(../images/building-bg-bw.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  position: relative; }

/* ---------- HEADERS AND LINKS ------------------*/
h2 a.jumplink {
  display: inline-block;
  /*font-size: 0.6em;
  font-weight: 700;*/
  font-family: "Lato", Tahoma, sans-serif;
  margin-left: 30px;
  text-transform: capitalize;
  margin-top: 0;
  text-shadow: none; }

h2 a.jumplink:after {
  content: "\f178";
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*noinspection CssNoGenericFontName*/
  font-family: FontAwesome;
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  font-variant: normal;
  padding-left: 10px;
  color: #ffffff; }

/* ---------- LAYOUT ----------------*/
/* HEADER */
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

#header {
  position: relative;
  z-index: 100;
  width: 100%;
  background-image: url(../images/black-pattern.png);
  background-repeat: repeat;
  background-color: #353535;
  background-position: bottom; }

#header .ui-logo {
  display: block;
  height: 35px;
  width: 266px;
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  float: none; }

#header .logo {
  display: block;
  height: 61px;
  width: 555px;
  margin-top: 65px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  float: none; }
  @media screen and (max-width: 980px) {
    #header .logo {
      width: 99%;
      height: auto; } }

/* NAVIGATION */
.navigation_desktop {
  display: block; }

.mobile-navigation {
  display: none; }

#navigation {
  background: #ffcc00;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 35; }
  #navigation a:hover {
    color: #a45c3e; }
  #navigation .table {
    width: 100%; }
  #navigation .block {
    position: relative; }
  #navigation .item {
    color: #000000;
    font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    height: 55px;
    line-height: 55px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (max-width: 740px) {
      #navigation .item {
        display: block;
        text-align: left;
        padding: 0 10px; } }

.navigation {
  overflow: hidden; }

.navigation-handle {
  display: none; }

.fs-navigation-toggle-handle.fs-navigation-enabled {
  background: #e8a713;
  border: #ffffff;
  color: #ffffff;
  font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0; }

.fs-navigation-handle.fs-navigation-enabled:after {
  background: #ffffff;
  box-shadow: 0 5px 0 #ffffff, 0 -5px 0 #ffffff; }

.fs-navigation-handle.fs-navigation-open:after {
  background: transparent;
  color: #ffffff;
  box-shadow: 0; }

/*----------- FOOTER ----------------*/
/* */
#footer {
  overflow: hidden;
  width: 100%;
  color: #b1b1b4;
  font-size: 13.5px;
  background-color: #353535;
  background-image: url(../images/black-pattern.png);
  background-repeat: repeat; }
  #footer .address {
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 65px; }
    @media screen and (max-width: 740px) {
      #footer .address {
        margin-top: 10px; } }
  #footer h4 {
    color: #b1b1b4;
    font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase; }
  #footer h4.left {
    float: left; }
  #footer a {
    color: #ffffff;
    display: block;
    margin: 0 30px 0 0;
    padding: 0 0 3px;
    text-decoration: none; }
  #footer a:hover {
    color: #ffcc00; }
  #footer .phone-number a {
    color: #ffffff; }
  #footer .footer-logo {
    margin: 10px auto 0px auto;
    text-align: center; }
    @media screen and (max-width: 740px) {
      #footer .footer-logo {
        text-align: left;
        margin: 15px auto; } }

#postfooter {
  font-size: 12px;
  padding: 20px 0;
  text-transform: uppercase;
  border-top: solid 1px rgba(219, 220, 222, 0.2);
  text-align: center;
  margin: 30px 0; }
  #postfooter a {
    color: #b1b1b4;
    display: inline-block;
    margin: 0 30px 0 0; }
  #postfooter a:hover {
    color: #ffcc00; }
  #postfooter .copyright {
    display: inline-block;
    text-align: left;
    color: #b1b1b4;
    margin-bottom: 15px; }
    @media screen and (max-width: 740px) {
      #postfooter .copyright {
        text-align: center; } }

/* -------------- BACK TO TOP BUTTON -----------------*/
.back-top {
  display: inline-block;
  height: 43px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: #ffffff;
  padding: 5px;
  background: rgba(255, 204, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 300; }

.back-top.cd-is-visible, .back-top.cd-fade-out, .no-touch .back-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s; }

.back-top.cd-is-visible {
  visibility: visible;
  opacity: 1; }

.back-top.cd-fade-out {
  opacity: .5; }

.no-touch .back-top:hover {
  background-color: #4E749E;
  color: #ffffff;
  opacity: 1; }

.styled-form input[type="text"],
.styled-form input[type="password"],
.styled-form input[type="email"],
.styled-form input[type="url"],
.styled-form input[type="date"],
.styled-form input[type="month"],
.styled-form input[type="time"],
.styled-form input[type="datetime"],
.styled-form input[type="datetime-local"],
.styled-form input[type="week"],
.styled-form input[type="number"],
.styled-form input[type="search"],
.styled-form input[type="tel"],
.styled-form input[type="color"],
.styled-form select,
.styled-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.styled-form input:required {
  background-image: url(/images/asterisk.gif);
  background-repeat: no-repeat;
  background-position: 99% center; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.styled-form input[type="color"] {
  padding: 0.2em 0.5em; }

.styled-form input[type="text"]:focus,
.styled-form input[type="password"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="url"]:focus,
.styled-form input[type="date"]:focus,
.styled-form input[type="month"]:focus,
.styled-form input[type="time"]:focus,
.styled-form input[type="datetime"]:focus,
.styled-form input[type="datetime-local"]:focus,
.styled-form input[type="week"]:focus,
.styled-form input[type="number"]:focus,
.styled-form input[type="search"]:focus,
.styled-form input[type="tel"]:focus,
.styled-form input[type="color"]:focus,
.styled-form select:focus,
.styled-form textarea:focus {
  outline: 0;
  border-color: #129FEA; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA; }

.styled-form input[type="file"]:focus,
.styled-form input[type="radio"]:focus,
.styled-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA; }

.styled-form .styled-checkbox,
.styled-form .styled-radio {
  margin: 0.5em 0;
  display: block; }

.styled-form input[type="text"][disabled],
.styled-form input[type="password"][disabled],
.styled-form input[type="email"][disabled],
.styled-form input[type="url"][disabled],
.styled-form input[type="date"][disabled],
.styled-form input[type="month"][disabled],
.styled-form input[type="time"][disabled],
.styled-form input[type="datetime"][disabled],
.styled-form input[type="datetime-local"][disabled],
.styled-form input[type="week"][disabled],
.styled-form input[type="number"][disabled],
.styled-form input[type="search"][disabled],
.styled-form input[type="tel"][disabled],
.styled-form input[type="color"][disabled],
.styled-form select[disabled],
.styled-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.styled-form input[readonly],
.styled-form select[readonly],
.styled-form textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc; }

.styled-form input:focus:invalid,
.styled-form textarea:focus:invalid,
.styled-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

.styled-form input[type="file"]:focus:invalid:focus,
.styled-form input[type="radio"]:focus:invalid:focus,
.styled-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d; }

.styled-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white; }

.styled-form select[multiple] {
  height: auto; }

.styled-form label {
  margin: 0.5em 0 0.2em; }

.styled-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0; }

.styled-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.styled-form label.error {
  color: red;
  font-style: italic;
  display: block; }

.styled-form div.error {
  display: none; }

.styled-form input.error {
  border: 1px dotted red; }

.styled-form-stacked input[type="text"],
.styled-form-stacked input[type="password"],
.styled-form-stacked input[type="email"],
.styled-form-stacked input[type="url"],
.styled-form-stacked input[type="date"],
.styled-form-stacked input[type="month"],
.styled-form-stacked input[type="time"],
.styled-form-stacked input[type="datetime"],
.styled-form-stacked input[type="datetime-local"],
.styled-form-stacked input[type="week"],
.styled-form-stacked input[type="number"],
.styled-form-stacked input[type="search"],
.styled-form-stacked input[type="tel"],
.styled-form-stacked input[type="color"],
.styled-form-stacked input[type="file"],
.styled-form-stacked select,
.styled-form-stacked label,
.styled-form-stacked textarea {
  display: block;
  margin: 0.4em 0; }

.styled-form-stacked label {
  margin-top: 1.5em; }

.styled-form-stacked button[type="submit"] {
  margin-top: 2em; }

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0; }

.styled-form-aligned input,
.styled-form-aligned textarea,
.styled-form-aligned select,
.styled-form-aligned .styled-help-inline,
.styled-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.styled-form-aligned textarea {
  vertical-align: top; }

.styled-form-message-block {
  display: block; }

/* Aligned Forms */
.styled-form-aligned .styled-control-group {
  margin-bottom: 0.5em; }

.styled-form-aligned .styled-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0; }

.styled-form-aligned .styled-controls {
  margin: 1.5em 0 0 11em; }

.styled-form-aligned .styled-form-message-block {
  margin-top: 0.2em; }

/* Rounded Inputs */
.styled-form input.styled-input-rounded,
.styled-form .styled-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em; }

/* Grouped Inputs */
.styled-form .styled-group fieldset {
  margin-bottom: 10px; }

.styled-form .styled-group input,
.styled-form .styled-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px; }

.styled-form .styled-group input:focus,
.styled-form .styled-group textarea:focus {
  z-index: 3; }

.styled-form .styled-group input:first-child,
.styled-form .styled-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0; }

.styled-form .styled-group input:first-child:last-child,
.styled-form .styled-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0; }

.styled-form .styled-group input:last-child,
.styled-form .styled-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.styled-form .styled-group button {
  margin: 0.35em 0; }

.styled-form .styled-input-full {
  width: 66%; }

.styled-form .styled-input-half {
  width: 33%; }

.styled-form .styled-input-small {
  width: 20%; }

/* Inline help for forms */
/* NOTE: styled-help-inline is deprecated. Use .styled-form-message-inline instead. */
.styled-form .styled-help-inline,
.styled-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #3e5c7d;
  vertical-align: middle;
  font-size: 0.875em; }

/* Block help for forms */
.styled-form-message {
  display: block;
  color: #353535;
  font-size: 15px;
  font-weight: 600; }

@media only screen and (max-width: 500px) {
  .styled-form button[type="submit"] {
    margin: 0.7em 0 0; }
  .styled-form input:not([type]),
  .styled-form input[type="text"],
  .styled-form input[type="password"],
  .styled-form input[type="email"],
  .styled-form input[type="url"],
  .styled-form input[type="date"],
  .styled-form input[type="month"],
  .styled-form input[type="time"],
  .styled-form input[type="datetime"],
  .styled-form input[type="datetime-local"],
  .styled-form input[type="week"],
  .styled-form input[type="number"],
  .styled-form input[type="search"],
  .styled-form input[type="tel"],
  .styled-form input[type="color"],
  .styled-form label {
    margin-bottom: 0.3em;
    display: block; }
  .styled-group input:not([type]),
  .styled-group input[type="text"],
  .styled-group input[type="password"],
  .styled-group input[type="email"],
  .styled-group input[type="url"],
  .styled-group input[type="date"],
  .styled-group input[type="month"],
  .styled-group input[type="time"],
  .styled-group input[type="datetime"],
  .styled-group input[type="datetime-local"],
  .styled-group input[type="week"],
  .styled-group input[type="number"],
  .styled-group input[type="search"],
  .styled-group input[type="tel"],
  .styled-group input[type="color"] {
    margin-bottom: 0; }
  .styled-form-aligned .styled-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%; }
  .styled-form-aligned .styled-controls {
    margin: 1.5em 0 0 0; }
  /* NOTE: styled-help-inline is deprecated. Use .styled-form-message-inline instead. */
  .styled-form .styled-help-inline,
  .styled-form-message-inline,
  .styled-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em; }
  .styled-form .styled-input-full, .styled-form .styled-input-half {
    width: 100%; }
  .styled-form .styled-input-small {
    width: 50%; } }

.btn, button, input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  padding: 5px 10px 5px 10px; }

.btn,
button,
input[type="submit"] {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 5px 0;
  border: none !important;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s; }

.no-touch .btn:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: height 0.25s;
  transition: height 0.25s; }

.no-touch .btn:hover:before {
  height: 100%; }

.btn span {
  position: relative; }

.btn .second-line {
  position: relative;
  display: block;
  font-size: 0.9em;
  font-style: italic;
  text-transform: lowercase; }

.btn i {
  font-size: 1em;
  line-height: inherit;
  margin: 0 4px 0 4px; }

.btn:hover i {
  color: inherit; }

.btn:focus,
button:focus,
input[type="submit"]:focus {
  border: solid 2px red; }

/* SIZE: tiny */
.btn.size_tiny,
input.btn.size_tiny {
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 3px; }

/* SIZE: small */
.btn.size_small,
input.btn.size_small {
  padding: 8px 26px;
  font-size: 13px;
  border-radius: 4px; }

/* SIZE: big */
.btn.size_big,
input.btn.size_big {
  padding: 16px 50px;
  font-size: 18px; }

/* TYPE: outlined */
.btn.outlined {
  background-color: transparent !important; }

/* COLOR: transparent */
.btn.color_transparent {
  font-weight: normal;
  text-transform: none;
  overflow: visible;
  padding: 0 2px !important;
  border: none !important;
  background: none !important; }

.no-touch .btn.color_transparent:before {
  display: none; }

.no-touch .btn.color_transparent:hover span {
  border-bottom: 1px solid; }

/* COLOR: white */
.btn.color_white,
a.btn.color_white {
  background-color: #fff;
  color: #444; }

.no-touch .btn.color_white:before {
  background-color: rgba(0, 0, 0, 0.06); }

.no-touch .btn.color_white:hover,
.no-touch a.btn.color_white:hover {
  color: #444; }

/* COLOR: white outlined */
.btn.color_white.outlined,
a.btn.color_white.outlined {
  box-shadow: 0 0 0 2px #fff inset;
  color: #fff; }

.no-touch .btn.color_white.outlined:hover,
.no-touch a.btn.color_white.outlined:hover {
  color: #444; }

.btn.color_white.outlined:before {
  background-color: #fff; }

/* COLOR: grey */
.btn.color_grey {
  background-color: #666;
  /* variable */
  color: #fff; }

.no-touch .btn.color_grey:hover {
  color: #fff; }

/* COLOR: secondary outlined */
.btn.color_grey.outlined {
  box-shadow: 0 0 0 2px #666 inset;
  /* variable */
  color: #666;
  /* variable */ }

.no-touch .btn.color_grey.outlined:hover,
.no-touch .color_alternate .btn.color_grey.outlined:hover {
  color: #fff; }

.btn.color_grey.outlined:before {
  background-color: #666;
  /* variable */ }

/* COLOR: blue */
.btn.color_blue {
  background-color: #4E749E;
  color: #fff; }

.no-touch .btn.color_blue:hover {
  color: #fff; }

/* COLOR: blue outlined */
.btn.color_blue.outlined {
  box-shadow: 0 0 0 2px #4E749E inset;
  color: #4E749E; }

.no-touch .btn.color_blue.outlined:hover {
  color: #fff; }

.btn.color_blue.outlined:before {
  background-color: #4E749E; }

/* COLOR: green */
.btn.color_green {
  background-color: #59ba41;
  color: #fff; }

.no-touch .btn.color_green:hover {
  color: #fff; }

/* COLOR: green outlined */
.btn.color_green.outlined {
  box-shadow: 0 0 0 2px #59ba41 inset;
  color: #59ba41; }

.no-touch .btn.color_green.outlined:hover {
  color: #fff; }

.btn.color_green.outlined:before {
  background-color: #59ba41; }

/* COLOR: yellow */
.btn.color_yellow {
  background-color: #FFCC00;
  color: #353535; }

.btn.color_yellow:before {
  background-color: rgba(0, 0, 0, 0.06); }

.no-touch .btn.color_yellow:hover, .btn.color_yellow:hover {
  color: #353535; }

/* COLOR: yellow outlined */
.btn.color_yellow.outlined {
  box-shadow: 0 0 0 2px #fac000 inset;
  color: #fac000; }

.no-touch .btn.color_yellow.outlined:hover {
  color: #fff; }

.btn.color_yellow.outlined:before {
  background-color: #fac000; }

/* COLOR: maroon */
.btn.color_maroon {
  background-color: #A45C3E;
  color: #fff; }

.no-touch .btn.color_maroon:hover {
  color: #fff; }

/* COLOR: red outlined */
.btn.color_maroon.outlined {
  box-shadow: 0 0 0 2px #A45C3E inset;
  color: #A45C3E; }

.no-touch .btn.color_maroon.outlined:hover {
  color: #fff; }

.btn.color_maroon.outlined:before {
  background-color: #A45C3E; }

@media screen and (max-width: 1220px) and (min-width: 980px) {
  .btn {
    font-size: 13px; } }

/* PAGE - MAIN COPY*/
section.page {
  padding: 30px 0;
  overflow: hidden;
  background-color: #F5F5F5;
  background-image: url(../images/paper_fibers.png);
  color: #5F5954;
  position: relative; }
  section.page img {
    max-width: 100%; }
  section.page a {
    text-decoration: underline; }
    section.page a.btn {
      text-decoration: none; }

.breadcrumbs {
  color: #353535;
  padding-top: 10px;
  padding-bottom: 10px; }

.breadcrumbs a {
  text-decoration: none;
  opacity: 0.8;
  color: #353535;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.9em; }

.breadcrumbs a:hover {
  text-decoration: underline;
  color: #a45c3e; }

.breadcrumbs span {
  display: none;
  height: 0;
  width: 0; }

/* ------------- WIDGETS ---------------------*/
.widget {
  padding-right: 20px; }
  .widget h3 {
    background: #ffcc00;
    font-family: "TradeGothic-Condensed", Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    padding: 4px 15px;
    margin-bottom: 3px; }
  .widget .widget-content {
    background: #DBDCDE;
    padding: 15px;
    font-size: 13.5px; }
