<footer id="footer">
    <section role="navigation">

        <div class="fs-row">
            <div class="fs-cell fs-sm-full fs-md-full fs-lg-9">

                <h4>Programs</h4>
                <div class="fs-row">
                    <div class="fs-cell fs-sm-full fs-md-half fs-lg-3">
                        <a href="http://tippie.uiowa.edu/undergraduate/">Undergraduate Programs</a>
                        <a href="http://tippie.uiowa.edu/programs/">Master's Programs</a>
                        <a href="http://tippie.uiowa.edu/mba/">MBA Programs</a>
                        <a href="http://tippie.uiowa.edu/programs/">Certificates</a>
                    </div>
                    <div class="fs-cell fs-sm-full fs-md-half fs-lg-4">
                        <a href="http://cimbaitaly.com/mba/">CIMBA Study Abroad</a>
                        <a href="http://tippie.uiowa.edu/executive-education/">Professional & Executive Education</a>
                        <a href="http://www.iowajpec.org/">Entrepreneurship</a>
                        <a href="http://tippie.uiowa.edu/phd/">PhD Programs</a>
                    </div>
                </div>
            </div>

            <!--<div class="fs-cell fs-sm-full fs-md-half fs-lg-4 centered">-->
                <!---->
                   <!-- -->
                <!---->
            <!--</div>-->

            <div class="fs-cell fs-sm-full fs-md-half fs-lg-3">
                <!--<div class="footer-logo">-->
                    <!--<a href="http://tippie.uiowa.edu/"><img src="images/Tippie_logo.png"                                                    alt="Tippie College of Business"></a>-->
                <!--</div>-->
                <p class="address">Henry B. Tippie College of Business<br>
                    108 John Pappajohn Business Building<br>
                    Iowa City, IA 52242-1994<br>
                    <span class="phone-number">319-335-0862/800-553-4692</span><br>
                    <a href="mailto:tippie-business@uiowa.edu">tippie-business@uiowa.edu</a>
                </p>
            </div>

        </div>


        <div class="fs-row">
            <section id="postfooter">
                <div class="fs-cell fs-sm-full fs-md-full fs-lg-4">
                    <div class="copyright">&copy; Copyright 2015 Henry B. Tippie College of Business</div>
                </div>
                <div class="fs-cell fs-sm-full fs-md-full fs-lg-8">
                    <a href="http://www.uiowa.edu" target="_blank">University of Iowa</a>
                    <a href="http://www.uiowa.edu/a-z" target="_blank">UI A to Z Index</a>
                    <a href="mailto:business-webmaster@uiowa.edu" target="_blank">Comments/Questions</a>
                    <a href="http://www.uiowa.edu/homepage/online-privacy-information" target="_blank">Privacy Statement</a>
                </div>
            </section>
        </div>
    </section>
</footer>

<a href="#0" class="back-top"><i class="fa fa-chevron-up fa-2x"></i></a>
</section>