<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<!-- CSS -->
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/site.css" type="text/css" media="all" />
<!--<link rel="stylesheet" href="css/print.css" type="text/css" media="print" /> -->

<script src="js/site.js"></script>

<noscript>
    <style>
        body { opacity: 1; }
    </style>
</noscript>
</head>

<body class="fs-grid shifter" id="top">
<section id="container">



    <header id="header" role="banner" class="clearfix">

        <div class="fs-row">
            <div class="fs-cell fs-lg-full fs-md-4 fs-sm-full">
                <div class="left">
                    <a href="http://www.uiowa.edu/"><img src="images/ui-logo.png" class="ui-logo" alt="The University of Iowa"></a>
                </div>

                <a href="http://tippie.uiowa.edu"><img src="images/cob-logo.png" alt="Tippie College of Business" class="logo"></a>

            </div>
        </div>

        <h5 id="nav_handle_1" class="navigation-handle">Navigation</h5>
        <nav id="navigation" class="navigation" role="navigation" aria-label="Main menu" data-navigation-handle="#nav_handle_1">

            <div class="fs-row">
                <div class="fs-cell all-full">
                    <div class="table" role="menubar">
                        <div class="td">
                            <a href="#" class="item" role="menuitem">Home</a>
                            <a href="#" class="item" role="menuitem">My Profile</a>
                            <a href="#" class="item" role="menuitem">My Application</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>