<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="encoding" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="keywords" content="Tippie, College of Business" />
    <meta name="description" content="Welcome Screen for SalesForce" />
    <meta name="author" content="Tippie College of Business" />

    <title>Tippie Student Portal - Enrollment RX Welcome Hi!Hi! </title>

    @@include('header.tpl.html')

    <section class="page">
        <div class="fs-row">

            <div class="fs-cell fs-lg-3 fs-md-3 fs-sm-full fs-xs-full">
                <div class="widget">
                    <h3>Widget</h3>
                    <div class="widget-content">
                        Testing
                    </div>
                </div>

            </div>

            <div class="fs-cell fs-lg-6 fs-md-3 fs-sm-full fs-xs-full main">
                <h1>Welcome to the Tippie Application Portal</h1>
                <p>Thank you for starting your application!</p>
                <p>The Tippie College of Business delivers a national-caliber business education, giving students the skills and global worldview employers want and a future that’s option-rich, whether in Iowa or around the world.</p>
                <p>Applying is fast and easy! Visit My Profile to get started.</p>
                <p>Questions about the application? Contact us.</p>

            </div>

            <div class="fs-cell fs-lg-3 fs-md-3 fs-sm-full fs-xs-full">
                <div class="widget">
                    <h3>Application Status</h3>
                    <div class="widget-content">
                        <a href="#">Application started</a>
                    </div>
                </div>

                <div class="widget">
                    <h3>Application Checklist</h3>
                    <div class="widget-content">
                        <ul class="nobullets">
                            <li>Application</li>
                            <li>Essays</li>
                            <li>Application Fee</li>
                            <li>Official GMAT ot GRE Score</li>
                            <li>Resume</li>
                            <li>Officil YOEFL or IELTS Score</li>
                            <li>Financial Verification</li>
                            <li>Official Transcripts</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>

@@include('footer.tpl.html')

</body>
</html>