.styled-form input[type="text"],
.styled-form input[type="password"],
.styled-form input[type="email"],
.styled-form input[type="url"],
.styled-form input[type="date"],
.styled-form input[type="month"],
.styled-form input[type="time"],
.styled-form input[type="datetime"],
.styled-form input[type="datetime-local"],
.styled-form input[type="week"],
.styled-form input[type="number"],
.styled-form input[type="search"],
.styled-form input[type="tel"],
.styled-form input[type="color"],
.styled-form select,
.styled-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 3px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.styled-form input:required {
  background-image:url(/images/asterisk.gif);
  background-repeat:no-repeat;
  background-position:99% center;}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.styled-form input[type="color"] {
  padding: 0.2em 0.5em;
}


.styled-form input[type="text"]:focus,
.styled-form input[type="password"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="email"]:focus,
.styled-form input[type="url"]:focus,
.styled-form input[type="date"]:focus,
.styled-form input[type="month"]:focus,
.styled-form input[type="time"]:focus,
.styled-form input[type="datetime"]:focus,
.styled-form input[type="datetime-local"]:focus,
.styled-form input[type="week"]:focus,
.styled-form input[type="number"]:focus,
.styled-form input[type="search"]:focus,
.styled-form input[type="tel"]:focus,
.styled-form input[type="color"]:focus,
.styled-form select:focus,
.styled-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}

.styled-form input[type="file"]:focus,
.styled-form input[type="radio"]:focus,
.styled-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}
.styled-form .styled-checkbox,
.styled-form .styled-radio {
  margin: 0.5em 0;
  display: block;
}

.styled-form input[type="text"][disabled],
.styled-form input[type="password"][disabled],
.styled-form input[type="email"][disabled],
.styled-form input[type="url"][disabled],
.styled-form input[type="date"][disabled],
.styled-form input[type="month"][disabled],
.styled-form input[type="time"][disabled],
.styled-form input[type="datetime"][disabled],
.styled-form input[type="datetime-local"][disabled],
.styled-form input[type="week"][disabled],
.styled-form input[type="number"][disabled],
.styled-form input[type="search"][disabled],
.styled-form input[type="tel"][disabled],
.styled-form input[type="color"][disabled],
.styled-form select[disabled],
.styled-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.styled-form input[readonly],
.styled-form select[readonly],
.styled-form textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.styled-form input:focus:invalid,
.styled-form textarea:focus:invalid,
.styled-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.styled-form input[type="file"]:focus:invalid:focus,
.styled-form input[type="radio"]:focus:invalid:focus,
.styled-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.styled-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}
.styled-form select[multiple] {
  height: auto;
}
.styled-form label {
  margin: 0.5em 0 0.2em;
}
.styled-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.styled-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.styled-form label.error{
  color: red;
  font-style: italic;
  display:block;
}
.styled-form div.error { display: none; }
.styled-form input.error { border: 1px dotted red; }
.styled-form-stacked input[type="text"],
.styled-form-stacked input[type="password"],
.styled-form-stacked input[type="email"],
.styled-form-stacked input[type="url"],
.styled-form-stacked input[type="date"],
.styled-form-stacked input[type="month"],
.styled-form-stacked input[type="time"],
.styled-form-stacked input[type="datetime"],
.styled-form-stacked input[type="datetime-local"],
.styled-form-stacked input[type="week"],
.styled-form-stacked input[type="number"],
.styled-form-stacked input[type="search"],
.styled-form-stacked input[type="tel"],
.styled-form-stacked input[type="color"],
.styled-form-stacked input[type="file"],
.styled-form-stacked select,
.styled-form-stacked label,
.styled-form-stacked textarea {
  display: block;
  margin: 0.4em 0;
}
.styled-form-stacked label {
  margin-top: 1.5em;
}
.styled-form-stacked button[type="submit"] {
  margin-top: 2em;
}
/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.styled-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.styled-form-aligned input,
.styled-form-aligned textarea,
.styled-form-aligned select,
  /* NOTE: styled-help-inline is deprecated. Use .styled-form-message-inline instead. */
.styled-form-aligned .styled-help-inline,
.styled-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.styled-form-aligned textarea {
  vertical-align: top;
}
.styled-form-message-block {
  display: block;
}

/* Aligned Forms */
.styled-form-aligned .styled-control-group {
  margin-bottom: 0.5em;
}
.styled-form-aligned .styled-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.styled-form-aligned .styled-controls {
  margin: 1.5em 0 0 11em;
}
.styled-form-aligned .styled-form-message-block {
  margin-top: 0.2em;
}

/* Rounded Inputs */
.styled-form input.styled-input-rounded,
.styled-form .styled-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.styled-form .styled-group fieldset {
  margin-bottom: 10px;
}
.styled-form .styled-group input,
.styled-form .styled-group textarea {

  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.styled-form .styled-group input:focus,
.styled-form .styled-group textarea:focus {
  z-index: 3;
}
.styled-form .styled-group input:first-child,
.styled-form .styled-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.styled-form .styled-group input:first-child:last-child,
.styled-form .styled-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.styled-form .styled-group input:last-child,
.styled-form .styled-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.styled-form .styled-group button {
  margin: 0.35em 0;
}

.styled-form .styled-input-full {
  width: 66%;
}
.styled-form .styled-input-half {
  width: 33%;
}
.styled-form .styled-input-small {
  width: 20%;
}

/* Inline help for forms */
/* NOTE: styled-help-inline is deprecated. Use .styled-form-message-inline instead. */
.styled-form .styled-help-inline,
.styled-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: $dark-blue;
  vertical-align: middle;
  font-size: 0.875em;
}

  /* Block help for forms */
.styled-form-message {
  display: block;
  color: $dark-grey;
  font-size: $bodyFont-font-size;
  font-weight: $bold;
}

@media only screen and (max-width : 500px) {
  .styled-form button[type="submit"] {
    margin: 0.7em 0 0;
  }

  .styled-form input:not([type]),
  .styled-form input[type="text"],
  .styled-form input[type="password"],
  .styled-form input[type="email"],
  .styled-form input[type="url"],
  .styled-form input[type="date"],
  .styled-form input[type="month"],
  .styled-form input[type="time"],
  .styled-form input[type="datetime"],
  .styled-form input[type="datetime-local"],
  .styled-form input[type="week"],
  .styled-form input[type="number"],
  .styled-form input[type="search"],
  .styled-form input[type="tel"],
  .styled-form input[type="color"],
  .styled-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .styled-group input:not([type]),
  .styled-group input[type="text"],
  .styled-group input[type="password"],
  .styled-group input[type="email"],
  .styled-group input[type="url"],
  .styled-group input[type="date"],
  .styled-group input[type="month"],
  .styled-group input[type="time"],
  .styled-group input[type="datetime"],
  .styled-group input[type="datetime-local"],
  .styled-group input[type="week"],
  .styled-group input[type="number"],
  .styled-group input[type="search"],
  .styled-group input[type="tel"],
  .styled-group input[type="color"] {
    margin-bottom: 0;
  }

  .styled-form-aligned .styled-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .styled-form-aligned .styled-controls {
    margin: 1.5em 0 0 0;
  }

  /* NOTE: styled-help-inline is deprecated. Use .styled-form-message-inline instead. */
  .styled-form .styled-help-inline,
  .styled-form-message-inline,
  .styled-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }

  .styled-form .styled-input-full, .styled-form .styled-input-half { width: 100%;}
  .styled-form .styled-input-small { width: 50%;}
}