/* PAGE - MAIN COPY*/
section.page {
  padding: 30px 0;
  overflow: hidden;
  background-color: #F5F5F5;
  background-image: url(../images/paper_fibers.png);
  color: #5F5954;
  position: relative;

  img { max-width: 100%;}
  a { text-decoration: underline;}

}
.breadcrumbs {
  color: $dark-grey;
  padding-top: 10px;
  padding-bottom: 10px;
}
.breadcrumbs a {
  text-decoration: none;
  opacity: 0.8;
  color: $dark-grey;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.9em;
}
.breadcrumbs a:hover { text-decoration:underline; color:#a45c3e;}
.breadcrumbs span {
  display: none;
  height:0;
  width:0;
}

/* ------------- WIDGETS ---------------------*/
.widget {
  padding-right: 20px;
  h3 {
    background: $ui-gold;
    font-family: $headFont;
    text-transform: uppercase;
    font-weight: 400;
    padding: 4px 15px;
    margin-bottom: 3px;
  }
  .widget-content {
    background: $subtle-grey;
    padding: 15px;
    font-size: $bodyFont-font-size * 0.9;
  }
}
