// _variables.scss
// =================

@font-face {
  font-family: 'TradeGothic-Condensed';
  src: url('fonts/LTe50535.eot'); /* IE9 Compat Modes */
  src: url('fonts/LTe50535.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/TradeGothic-Condensed.woff') format('woff'), /* Modern Browsers */
  url('fonts/TradeGothic-Condensed.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/TradeGothic-Condensed.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal;
}

$font-google-prim : 'https://fonts.googleapis.com/css?family=Lato:100,300,400';
@if variable-exists(font-google-prim) {
  @import url($font-google-prim);
}
/* COLORS */
$gold         :#e8a713;
$ui-gold      :#ffcc00;
$blue         :#5382B0;
$dark-blue    :#3e5c7d;
$yellow       :#ffeda4;
$grey         :#5f5954;
$light-grey   :#b1b1b4;
$maroon       :#a45c3e;
$black        :#000000;
$white        :#ffffff;
$dark-grey    :#353535;
$subtle-grey  :#DBDCDE;

// Font weights
$regular: 400;
$bold: 600;

// Base Font
$bodyFont: 'Lato', Tahoma,  sans-serif;
$bodyFont-weight: $regular;
$bodyFont-font-size: 15px;
$bodyFont-line-height: 1.5;

// Trademark Font
$headFont: 'TradeGothic-Condensed', Tahoma, sans-serif;
$headFont-weight: $regular;
$headFont-font-size: 13px;
$headFont-line-height: 1.5;

// Viewport Vars
$break-small: 500px;
$break-medium: 740px;
$break-medium-large: 980px;
$break-large: 1220px;